$menuBreakPoint: 956px;

mat-toolbar {
  height: 80px;
  // border-bottom: 15px solid;

  box-shadow: 2px 2px 2px 1px #620b15;
}

.logo {
  margin-left: 10%;
  margin-top: 10px;

  @media (max-width: $menuBreakPoint) {
    text-align: center;
  }

  img {
    height: 190px;
    max-width: 280px;
  }
}
