<app-header></app-header>
<div class="wrapper">
  <div class="col-sm-12">
    <form [formGroup]="formCnj" id="formulario" class="col-sm-12">
      <mat-form-field appearance="outline" class="col-sm-12">
        <mat-label>Informe o CNJ desejado</mat-label>
        <input
          matInput
          id="cnj"
          name="cnj"
          type="text"
          formControlName="cnj"
          placeholder="xxxxxxx-xx.xxxx.x.xx.xxxx"
          mask="0000000-00.0000.0.00.0000"
        />

        <mat-error *ngIf="!formCnj.valid">Por favor, digite um cnj válido.</mat-error>
      </mat-form-field>

      <div class="col-sm-12">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="buscar()"
          (keyup.enter)="buscar()"
          [disabled]="!formCnj.valid"
        >
          Buscar
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="processoService.isValid">
    <div class="col-sm-12 card">
      <mat-card>
        <mat-card-header
          ><h5>Processo Nº{{ processoService.processo.numero }}</h5>

          <h4>
            {{
              processoService.processo.situacao || "Situação não informada"
            }}
          </h4>
        </mat-card-header>
        <mat-card-title>
          {{ processoService.processo.area }} |
          {{ processoService.processo.instancia }}° instância
        </mat-card-title>
        <mat-card-content>
          {{ processoService.processo.tribunal }} |
          {{ processoService.processo.foro_cnj }} -
          {{ processoService.processo.uf }}
        </mat-card-content>

        <mat-card-actions>
          <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="openDialog()"
          >
            Detalhes
          </button>
        </mat-card-actions>

        <mat-card-footer>
          Atualizado em
          {{ processoService.processo.alteradoEm | date: "dd/MM/yyyy hh:mm" }}
        </mat-card-footer>
      </mat-card>
    </div>

    <h1>Partes</h1>
    <hr />
    <div class="col-sm-12 tabela-partes">
      <table
        mat-table
        [dataSource]="processoService.processo.partes"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="Tipo">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let parte">{{ parte[indexTipo] }}</td>
        </ng-container>

        <ng-container matColumnDef="Nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let parte">{{ parte[indexNome] }}</td>
        </ng-container>

        <ng-container matColumnDef="Advogado">
          <th mat-header-cell *matHeaderCellDef>Advogado(s)</th>
          <td mat-cell *matCellDef="let parte">
            <div *ngFor="let advogado of parte[9]">
              {{ advogado[1] || "-" }}<br />
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="OAB">
          <th mat-header-cell *matHeaderCellDef>OAB</th>
          <td mat-cell *matCellDef="let parte">
            <div *ngFor="let advogado of parte[9]">
              {{ advogado[2] || "-" }}<br />
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tabelaPartes"></tr>
        <tr mat-row *matRowDef="let row; columns: tabelaPartes"></tr>
      </table>
    </div>

    <div class="col-sm-12 btn-mov">
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="exibir()"
      >
        {{ exibirMovimentacoes ? "Ocultar" : "Exibir" }} movimentações do
        processo
        <mat-icon>{{
          exibirMovimentacoes ? "expand_less" : "expand_more"
        }}</mat-icon>
      </button>
    </div>

    <div class="mat-elevation-z8" *ngIf="exibirMovimentacoes">
      <table mat-table [dataSource]="processoService.processo?.movs">
        <ng-container matColumnDef="Data">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let mov">
            {{ mov[indexMovData] || "Não informado" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Tipo">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let mov">
            {{ mov[indexMovTipo] || "Não informado" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Descricao">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let mov">
            {{ mov[indexMovDescricao] || "Não informado" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tabelaMovimentacoes"></tr>
        <tr mat-row *matRowDef="let row; columns: tabelaMovimentacoes"></tr>
      </table>
    </div>
  </div>
</div>
