@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
$menuBreakPoint: 956px;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
}

* {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  padding: 0 80px 100px;
  text-align: center;

  @media (max-width: $menuBreakPoint) {
    padding: 0 20px 40px;
  }
}

.mat-input-element {
  caret-color: #620b15 !important;
  color: #620b15 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #620b15;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #620b15 !important;
}

.mat-form-field-label {
  color: #620b15;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #620b15c4 !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  width: 500px;
  @media (max-width: $menuBreakPoint) {
    width: 300px;
  }
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #620b15;
}

th.mat-header-cell {
  text-align: center !important;
  background: #620b15;
  color: #ffffffff;
  font-size: 0.9rem;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 500px;
  height: 40px;
  font-size: 1rem;
}

tr.mat-row, tr.mat-footer-row {
  height: 80px !important;
}
