@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
$menuBreakPoint: 956px;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
}

* {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  padding: 0 80px;
  text-align: center;

  @media (max-width: $menuBreakPoint) {
    padding: 0 20px;
  }
}

.mat-input-element {
  caret-color: #620b15 !important;
  color: #620b15 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #620b15;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #620b15 !important;
}

.mat-form-field-label {
  color: #620b15;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #620b15c4 !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  width: 500px;
  @media (max-width: $menuBreakPoint) {
    width: 300px;
  }
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #620b15;
}
